@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/
::selection{
    color: #fff;
    background-color: rgb(77, 248, 154);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    transition: all 450ms ease-in-out;
}
input,input:active,textarea,textarea:active,select,option,input:focus,textarea:focus {
    outline: none;
}
a{
    text-decoration: none;
}
label{
padding: 1em 1em
}
/*ul,li,p,h1,h2,h3{
    animation: flipdown 0.5s ease both
}
@keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
  /*
ul::after{
    transform: translate(2px, 0) rotate(-45deg);
}
ul::before{
    transform: translate(-2px, 0) rotate(-45deg);
}*/
li{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: #fff;
    position: sticky;
    top: 0;
    transition: 0.3s ease;
    opacity: 1;
}
.nav-links a{
    color: #fff;
}
.logo{
    font-size: 32px;
}
.menu{
    display: inline-block;
    gap: 1em;
    font-size: 18px;
}
.menu li{
    padding: 5px 14px;
    display: inline-block;
}
.menu li:hover{
    background-color: #2a2b2b;
    border-radius: 5px;
    transition: 0.3s ease;
}
.support{
    position: relative;
}
.dropdown{
    background-color: #000;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li{
    margin-top: 10px;
}
.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover{
    background-color: #2a2b2b;
}
.support:hover + .dropdown{
    display: block;
}
input[type=checkbox]{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 2px 13px;
    border-radius: 6px;
    transition:all 0.3s ease-in-out;
}
.hamburger:hover{
    background-color: #2a2b2b;
    transition: 0.3s ease;
}
.hamburger:active{
    border: 2px solid #4c9e9e;
    transition: 0.3s ease;
}
.welcome-section{
    text-align: center;
    border: 1px solid ;
    padding-top: 10rem;
    height: 480px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/beautiful-gradient-spring-landscape_23-2148448598.avif);
}
.span{
    color: #fff;
}
.welcome-text{
   color: #4c9e9e; 
   font-size: 35px;
}
.welcome-btn{
    color: #000;
    padding: 20px 40px;
    background-color: hsl(157, 95%, 38%);
    border: 3px solid transparent;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.3s ease;
}
.welcome-btn:hover{
    background-color: hsl(157, 94%, 33%);
    border: 3px solid transparent;
    color: black;
    transition: 0.3s ease;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.welcome-btn:active{
    border: 3px solid hsl(157, 95%, 38%);
    border-radius: 8px;
    transition: 0.3s ease;
}
.welcome-btn::after{
    content: '\00bb';
    color: transparent;
    font-size: 24px;
    transition: 0.3s ease;
}
.welcome-btn::before{
    content: '\00bb';
    color: #000;
    font-size: 24px;
}
.welcome-btn:hover::after{
    content: '\00bb';
    font-size: 24px;
    color: #000;
    transition: 0.3s ease;
    transition-duration: 250ms;
}
.welcome-btn:hover:before{
    content: '';
    font-size: 24px;
    color: #000;
    transition: 0.3s ease;
    transition-duration: 250ms;
}
.footer{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/beautiful-gradient-spring-landscape_23-2148448598.avif);
    padding: 30px 0px;
}
.footer-text{
    font-size: 20px;
    border-bottom: 1px solid inherit;
    
}
.news-input{
    padding: 12px 12px;
    border: 1px solid transparent;
    font-size: 19px;
    border-radius: 8px;
    transition: 0.3s ease;
}
.news-input:hover{
    background-color: #dedede;
    transition: 0.3s ease;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.news-btn{
    padding: 12px 10px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
.news-btn:hover{
    background-color: hsl(180, 100%, 25%);
    color: black;
    transition: 0.3s ease;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.news-btn:active{
    border: 1px solid #4c9e9e;
    border-radius: 8px;
    transition: 0.3s ease;
}
.news-btn::after{
    content: '\00bb';
    color: #fff;
    font-size: 20px;
    transition: 0.3s ease;
}
.news-btn:hover::after{
    content: '\00bb';
    font-size: 20px;
    color: #000;
    transition: 0.3s ease;
}
.link{
    color: #4c9e9e;
}
.link:hover{
    color: hsl(180, 35%, 56%);
    text-decoration:underline;
}
.content{
    text-align: center;
    margin-top: -.6rem;
}
.about-section{
    border: 1px solid transparent;
    padding: 25px 20px;
    height: 250px;
    margin-top: .5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg2.jpg);
}
.about-text{
    font-size: 20px;

}
.my-skills{
    border: 1px solid #000;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hand-drawn-flat-design-mountain-landscape_23-2149158786.avif);
}
.html-skills{
    padding: 23px 20px;
    border: 8px solid rgb(238, 89, 3);
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 100px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.css-skills{
    padding: 23px 20px;
    padding: 23px 20px;
    border: 8px solid rgb(4, 149, 206);
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 100px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.js-skills{
    padding: 23px 20px;
    border: 8px solid rgb(206, 152, 4);
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 100px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.skills-list li{
    display: inline-block;
    padding: 10px 0px;
    padding-right: 15px;
    font-size: 20px;
}
.padd{
   gap: 20px;
}
.html{
    color: rgb(238, 89, 3);
}
.css{
    color: rgb(4, 149, 206);;
}
.js{
    color:rgb(206, 152, 4);
}
.html-skills,.js-skills,.css-skills{
    margin-right: .7rem;
}
.html,.js,.css{
    margin-right: .7rem;
    
}
.my-skills h3{
    font-size: 27px;
}
.foot-links li{
    display: inline-block;
}
.foot-links a{
    color: hsl(180, 35%, 46%);
    padding: 20px 20px;
    font-size: 18px;
}
.foot-links a:hover{
    color: hsl(180, 35%, 56%);
    text-decoration: underline;
}
.foot-links a::before{
    content: '\00bb';
}
.accordion {
    position: static;
   background-color: #eee;
   color: #000;
   border: 1px solid #ccc;
   cursor: pointer;
   padding: 18px 20px;
   width: 100%;
   text-align: left;
   outline: none;
   font-size: 18px;
   transition:all 0.3s ease-in-out;
   border-radius: 5px;
 }
 .accordion::after{
    content: '+';
    float: right;
    font-size: 18px;
 }
 
 .active, .accordion:hover {
   background-color: #ccc; 
   transition:all 0.3s ease-in-out;
 }
 .active::after{
    content: '−';
    font-size: 18px;
 }
 
 .panel {
   padding: 0 18px;
   display: none;
   background-color: white;
   overflow: hidden;
   transition:all 0.3s ease-in-out;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }
 .online-check-btn{
    padding: 12px 18px;
    border: 1px solid transparent;
    background-color: hsl(150, 94%, 41%);
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: #fff;
    cursor: pointer;
 }
 .online-check-btn:hover{
    background-color: hsl(150, 94%, 31%);
    box-shadow: 0 12px 16px 0 rgba(7, 237, 149, 0.123),0 17px 50px 0 hsla(157, 94%, 33%,.27);
 }
 .online-check-btn,.online{
    display: inline-block;
 }
 .online-check-btn::before{
    content: '\00bb';
    padding: 0px 5px;
 }
 .faqs{
    border: 1px solid transparent;
    padding: 40px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hand-drawn-flat-design-mountain-landscape_23-2149158786.avif);
 }
 .faqs h2{
    color: #fff;
    font-size: 30px;
 }
 .yt{
    text-decoration: none;
    color: rgb(245, 83, 83);
 }
 .yt:hover{
    text-decoration: underline;
 }
 .sub-head{
    color: #fff;
    font-size: 15px;
 }
 .code{
    background-color: #ecc885;
    border: 1px solid #dedede;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 8px;
    overflow: auto;
    font-family: monospace;
        overflow-y: hidden;
        display: block;
       /* line-height: 1.6em;*/
        white-space: pre-line; 
        word-wrap: normal;
 }
 .linker{
    color: brown;
 }
 .lt-gt{
    color: rgb(255, 60, 0);
 }
 .href{
    color: green;
    text-decoration: underline;
 }
 .lnk-txt{
    color: firebrick;
 }
 .copy{
    padding: 10px 13px;
    border: 1px solid transparent;
    background-color: hsl(241, 98%, 62%);
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: .2rem;
 }
 .copy:hover{
    background-color: hsl(241, 98%, 42%);
 }
 .contact{
    text-align: center;
    padding: 20px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/beautiful-gradient-spring-landscape_23-2148448598.avif);
 }
 label{
    color: #fff;
    padding: 10px 5px;
    font-size: 18px;
 }
 
 .name,.email,.country,option{
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 30%;
    font-size: 14px;
 }
 .query{
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 30%;
 }
 .contact-form-img{
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 2px 2px;
    height: 250px;
    width: 400px;
    object-fit: cover;
 }
 .hed{
    font-size: 23px;
    color: #fff;
    padding-bottom: 10px;
 }
 .form-sub,.form-res{
    padding: 14px 35px;
    font-size: 16px;
    margin: .5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
 }
 .form-sub{
    background-color: hsl(147, 88%, 38%);
    color: #fff;
    transition: 0.3s ease;
 }
 .form-res{
    background-color: hsl(12, 76%, 36%);
    color: #fff;
 }
 .form-sub::before{
    content: '\00bb';
    padding: 5px 5px;
 }
 .form-res::before{
    content: '\00bb';
    padding: 5px 5px;
 }
 .form-sub:hover{
    background-color: hsl(147, 88%, 42%);
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
    color: #000;
    transition: 0.3s ease;
}
.form-res:hover{
    background-color: hsl(12, 76%, 39%);
    box-shadow: 0 12px 16px 0 rgba(237, 72, 7, 0.17),0 17px 50px 0 rgba(163, 42, 5, 0.27);
    color: #000;
    transition: 0.3s ease;
}
.name:hover,.email:hover,.country:hover,option:hover,textarea:hover,input:focus,textarea:focus{
    background-color: #dedede;
     transition: 0.3s ease;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
textarea{
    font-family: Verdana, Arial;
}
.my-repos{
    padding: 20px 20px;
    border: 1px solid #000;
    transition: 0.3s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hand-drawn-flat-design-mountain-landscape_23-2149158786.avif);
}
.btn-left,.btn-right{
    padding: 8px 8px;
    font-size: 19px;
    height: 60px;
    width: 70px;
    border: 1px solid transparent;
    border-radius: 18rem;
    background-color: #969b9b;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-left:hover,.btn-right:hover{
    background-color: #cecfcf;
    color: #000;
    transition: 0.3s ease;
}
.btn-left:active,.btn-right:active{
    background-color: #8a9eb6;
    border: 3px solid #444;
    transition: 0.3s ease;
}
.my-repos h3{
    font-size: 28px;
    color: #fff;
    transition: 0.3s ease;
    margin-bottom: .6rem;
}
.mySlides{
    text-align: center;
    border: 1px solid transparent;
    height: 300px;
    width: 300px;
    border-radius: 12px;
    transition: 0.3s ease;
}
.yt-dwn{
    color: #000;
    border: 1px solid #000;
    padding: 40px 20px;
    background-color: #eee;
    border-radius: 8px;
}
.yt-dwn h3{
    color: #000;
}
 @media(max-width: 350px){
    .about-section{
        height: 500px;
    }

 }
 @media(min-width: 360px){
    .foot-links a{
        padding: 20px 12px;
    }
    .footer{
        height: 510px;
    }

}
@media(min-width: 392px){
    .foot-links a{
        padding: 20px 15px;
    }


}
@media(min-width: 700px){
    .menu li{
        display: inline-block;
    }
    .footer{
        height: 350px;
    }
    .contact-form-img{
        margin-left: 14rem;
    }
    .mySlides{
        width: 50%;
        margin-left: 20rem;
    }
    .my-repos{
        padding: 20px 50px;
    }
    .btn-left,.btn-right{
        margin-top: none;
    }
}
@media(max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        background-color: #000;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        transition:all 0.3s ease-in-out;
    }
    .menu li:hover{
        display: inline-block;
        background-color: #2a2b2b;
        transition:all 0.3s ease-in-out;
    }
    .menu li + li{
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .dropdown{
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover{
        background-color: #4c9e9e;
    }
    .footer{
        height: 490px;
    }
    .news-btn,.news-input{
        margin-top: .5rem;
    }
    .news-btn{
        padding: 12px 50px;
    }
    .about-section{
        height: 430px;
    }
    code{
        font-size: 13px;
        padding: 10px 13px;
        overflow: hidden;

    }
    .name,.email,.country,option,.query{
        width: 80%;
    }
    .contact-form-img{
        width: 100%;
        height: 100%;
    }
    .form-sub,.form-res{
        width: 80%;
    }
    .mySlides{
        width: 100%;
        height: 100%;
    }
    .btn-left,.btn-right{
        margin-top: 5%;
    }
}
