@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
::selection{
    color: #fff;
    background: rgb(4, 172, 116);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p,h3,h2,h4{
    animation: pop 0.5s ease-in-out;
}
header{
    position: sticky;
    top: 0;
}
nav{
    background: #000;
    height: 80px;
    width: 100%;
   /* color: #fff;*/
}
label.logo{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 3px;
}
a.active,nav ul li a:hover{
    background: #46494b;
    transition: .5s;
    color: aqua;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
    transition: all .5s;
}
.checkbtn:hover{
    color: rgb(187, 185, 183);
}
label.logo:hover{
    color: rgb(187, 185, 183);
}
#check{
    display: none;
}
.welcome{
    border: 1px solid none;
    height: 470px;
    color: #fff;
    text-align: center;
    padding: 10rem 1rem;
    font-size: 1.7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/beautiful-gradient-spring-landscape_23-2148448598.avif) top center;;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.welcome-btn{
    margin-top: 1rem;
    padding: 1.5rem 3.3rem;
    border: none;
    font-size: 1.2rem;
    position: static;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(90deg,rgb(4, 150, 77),60%,rgb(0, 153, 255));
    border-radius: .7rem;
    transition: all .7s;
    animation: ripple 1.5s linear infinite;
    box-shadow: 0 0 0 0 rgba(51,217,178,0.7);
}
.welcome-btn:hover{
    transform: scale(0.9);
}
.welcome-btn a:hover{
    background: none;
    color: #fff;
}
.fa-times,.fa-bars{
    border: none;
    padding: .7rem;
}
a{
    color: #fff;
}
.link{
    transition: all .5s;
}
.link:hover{
    background: none;
    padding: 0;
    color: rgb(187, 185, 183);
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 13px;
}
.footer{
    border: none;
    color: #fff;
    text-align: center;
    padding: 2rem 2rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/beautiful-gradient-spring-landscape_23-2148448598.avif) top center;;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.foot-links li{
    display: inline-block;
    transition: all .5s;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.foot-links li a{
    color: rgb(2, 202, 202);
    padding: 1rem .7rem;
    background: transparent;
    transition: all .5s;
    border-radius: .7rem;
    border: 1px solid transparent;
}
.foot-links li a:hover{
    background: rgba(5, 96, 112, 0.171);
    border: 1px solid rgb(2, 190, 190);
    border-radius: .7rem;
}
.foot-links li a::before{
    content: '\00bb';
}
.border{
    border-top: 1px solid rgb(0, 163, 163);
    padding: 20px;
    width: 100%;
}
.git{
    color: rgb(3, 150, 150);
    transition: all .5s;
}
.git:hover{
    padding: 0;
    background: none;
    color: rgb(7, 194, 194);
    text-decoration: underline;
}
.news-input{
    padding: .7rem 2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: .7rem;
    transition: all .5s;
}
.news-input:focus{
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.news-input:hover{
    background: #dedede;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.news-btn{
    padding: .7rem 2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: .7rem;
    cursor: pointer;
    transition: all .5s;
    background: linear-gradient(90deg,rgb(4, 150, 77),60%,rgb(0, 153, 255));
    color: #fff;
}
.news-btn:hover{
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.news{
    border-bottom: 1px solid rgb(12, 147, 165);
    padding: 2rem;
}
@keyframes ripple {
    0%{
        box-shadow: 0px 0px 10px 10px rgba(51,217,178,0.7) 100px 100px 10px 80px rgba(51,217,178,0.7);
    }
    70%{
        box-shadow: 0px 0px 25px 25px rgba(51,217,178,0);
    }
    100%{
        box-shadow: 0px 0px 10px 10px rgba(51,217,178,0);
    }
}
.casual{
    color: rgb(12, 147, 165);
}
.casual:hover{
    background: none;
    color: rgb(12, 147, 165);
    padding: 0;
}
.about{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/bg2.jpg) top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bio{
    border: none;
    padding: 2rem;
    border-radius: .7rem;
    color: #fff;
    width: 500px;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
    border: 1px solid rgb(2, 190, 190);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/bg2.jpg);
    text-align: center;
}
.bio-head{
    background: #46494b;
    color: rgb(1, 187, 187);
    padding: 1rem;
    border-radius: .7rem;
}
.demo{
    text-align: center;
    padding: 1rem 1rem;
    color: #fff;
    font-size: 1.3rem;
    background: linear-gradient(90deg,rgb(3, 179, 91),60%,rgb(0, 153, 255));
}
.position{
    align-items: center;
    justify-content: center;
}
@keyframes pop {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.info{
        padding: 18px 10px;
        word-spacing: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #0009;
        height: 10px;
        margin-top: .8rem;
        font-size: 1.3rem;
        border-top-right-radius: .6rem;
        border-top-left-radius: .6rem;
        animation: pop 0.5s ease-in-out;
}
.position{
    padding: 0 20rem;
}
.code{
    width: 100%;
    height: 50%;
    background: #1f1f1f;
    color: #fff;
    padding: 18px 20px;
    border: 0;
    outline: 0;
    overflow: auto;
    overflow-y: hidden;
    font-family: monospace;
    font-size: 18px;
    white-space:nowrap ;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    animation: pop 0.5s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.green{
    color: rgb(3, 209, 157);
    text-decoration: underline;
}
.green1{
    color: rgb(5, 240, 150);
    text-decoration: none;
}
.red{
    color: rgb(253, 51, 95);
}
hr{
    border: 1px solid rgb(4, 153, 121);
}
.yellow{
    color: rgb(209, 209, 2);
}
.orange{
    color: orange;
}
.copy{
    margin-top: 1.2rem;
    padding: .7rem 2rem;
    border: none;
    border-radius: .7rem;
    font-size: 1.2rem;
    cursor: pointer;
    background:#0f31c9 ;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition: all .5s;
}
.copy:hover{
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(12, 10, 139, 0.24),0 17px 50px 0 rgba(25, 6, 196, 0.19);
}
.contact{
    text-align: center;
    padding: 2rem 30rem;
    font-size: 1.3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/hand-drawn-flat-design-mountain-landscape_23-2149158786.avif) top center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.name,.email,.country,.query{
    padding: .8rem 2.5rem;
    width: 100%;
    border: none;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    outline: none;
    font-size: 1.1rem;
    transition: all .5s;
    animation: pop 0.5s ease-in-out;
}
.form-sub,.form-res{
    padding: .7rem 3rem;
    border: none;
    border-radius: .6rem;
    font-size: 1.1rem;
    margin-top: .7rem;
    cursor: pointer;
    transition: all .5s;
    color: #fff;
}
.name:hover,.query:hover,.email:hover,.country:hover{
    background: #dedede;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
input:focus,.query:focus,.select:focus{
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.query{
    font-family: 'Open Sans',sans-serif;
}
.fname,.lname,.text,.mail,.select{
    padding: 18px 10px;
    word-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 10px;
    margin-top: .8rem;
    font-size: 1.3rem;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
    animation: pop 0.5s ease-in-out;
}
.form-sub{
    background: linear-gradient(90deg,rgb(12, 190, 101),60%,rgb(0, 183, 255));
}
.form-res{
    background: linear-gradient(90deg,rgb(201, 9, 50),60%,rgb(255, 145, 0));
}
.form-sub:hover{
    animation: ripple 1.5s linear infinite;
    box-shadow: 0 12px 16px 0 hsla(157, 94%, 48%,.17),0 17px 50px 0 hsla(157, 94%, 33%,.27);
}
.form-res:hover{
    animation: ripple 1.5s linear infinite;
    box-shadow: 0 12px 16px 0 rgba(237, 80, 7, 0.17),0 17px 50px 0 rgba(196, 7, 32, 0.27);
}
.form-res:hover,.form-sub:hover{
    transform: scale(0.90);
}
.faqs-only{
    padding: 2rem 1.8rem 2rem;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/bg.jpg) top center;;
    background-repeat: no-repeat;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
}
.faqs-only h3{
    font-size: 1.7rem;
}
.accordion {
    position: static;
   background-color: #eee;
   color: #000;
   border: 1px solid #ccc;
   cursor: pointer;
   padding: 18px 20px;
   width: 100%;
   text-align: left;
   outline: none;
   font-size: 18px;
   transition:all 0.3s ease-in-out;
   border-radius: 5px;
   overflow: auto;
   color: #000;
 }
 .accordion::after{
    content: '+';
    float: right;
    font-size: 18px;
 }
 
 .active1, .accordion:hover {
   background-color: #ccc; 
   transition:all 0.3s ease-in-out;
 }
 .active1::after{
    content: '−';
    font-size: 18px;
 }
 
 .panel {
   padding: 0 18px;
   display: none;
   background-color: white;
   overflow: hidden;
   color: #000;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px; 
   transition:all 0.3s ease-in-out;
   animation: drop 0.5s ease-in-out;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }
 @keyframes drop {
    0%{
        transform: translate(0%,-30%);
    }
    100%{
        transform: translate(0%,0%);
    }
 }
 .online-check-btn{
    padding: .7rem 1rem;
    font-size: 1.2rem;
    margin-top: .5rem;
    border: none;
    color: #fff;
    border-radius: .8rem;
    background: rgb(8, 158, 101);
    transition: all .5s;
    cursor: pointer;
 }
 .online-check-btn::before{
    content: '\00bb';
    padding-right: 3px;
 }
 .online-check-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(8, 197, 65, 0.24),0 17px 50px 0 rgba(9, 179, 136, 0.19);
 }
 .contact-form-img{
    border: 1px solid transparent;
    border-radius: 12px;
    height: 230px;
    width: 100%;
    object-fit: cover;
    padding 12px 12px;
 }
 .panel a{
    color: hsl(347, 100%, 50%);
 }
 .panel a:hover{
    color: hsl(347, 100%, 40%);
    text-decoration: underline;
 }
 .casual:hover{
    text-decoration: underline;
 }
@media (max-width:952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #161313;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        opacity: 0.95;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover,a.active{
        background: rgb(99, 98, 98);
        color: aqua;
        padding: 1rem 5rem;
    }
    #check:checked ~ .menu{
        left: 0;
    }
    label.logo{
        padding: 0 20px;
    }
    .img{
        position: relative;
        top: 15px;
    }
    .news-input,.news-btn{
        width: 100%;
        margin-top: .7rem;
    }
    .position{
        padding: 0;
    }
    .welcome-btn a:hover{
        background: none;
        color: #fff;
        padding: 0;
    }
    .contact{
        padding: 2rem 3rem;
    }
    .form-res,.form-sub{
        width: 100%;
        margin-top: .6rem;
    }
}
